@model PLEXEDC.WEB.UI.Models.CustomerAccountViewModel

@{
    ViewBag.Title = "Account";
}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Account Details</h6>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Infoware ID: @ViewBag.InfowareId</li>
                    <li class="list-group-item">Account Name: @Model.AccountNumber </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Portfolio</h6>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><span>Investment Statement</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Account Summary</h6>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a data-target="#stockListingModal" data-toggle="modal">Cash Balances</a></li>
                    <li class="list-group-item">Margin Allowed - </li>
                    <li class="list-group-item">Uncleared Effects - </li>
                    <li class="list-group-item">Available Trading Funds - </li>
                    <li class="list-group-item"><a data-target="#stockListingModal" data-toggle="modal">PortFolio Value</a></li>

                </ul>
            </div>
            <div class="panel-footer">
                <a data-target="#transactionModal" data-toggle="modal">Transactions</a>
            </div>
        </div>
        @Html.Partial("_stockListing")

        @Html.Partial("_transactionListing")
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6>Performance Report</h6>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Start Date</label>
                            @*<div class="col-sm-10">*@
                            <input class="form-control" type="text" placeholder="Start Date">
                            @*</div>*@
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Start Date</label>
                            @*<div class="col-sm-10">*@
                            <input class="form-control" type="text" placeholder="End Date">
                            @*</div>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>











